[data-amplify-authenticator]::before {
    content: '';
    display: block;
    height: 2.5rem;
    background-color: black;
    width: 100%; 
    margin: 0 auto ;
    border-radius: 6px !important;
  }

[data-amplify-container]{
    width:700px !important;
}
[data-amplify-router]{
    width:700px !important;
    height: 400px !important;
    margin: 0 auto !important;
    border-color:#bab7b8 !important;
    border-radius: 8px !important;
}


.amplify-input.amplify-field-group__control{
    border-radius: 4px !important;
}
.amplify-flex.amplify-field.amplify-textfield{
    width: 99% !important;
    margin: 0 auto !important; /* 居中显示 */
}
.amplify-flex.amplify-field.amplify-textfield.amplify-passwordfield{
    width: 99% !important;
    margin: 0 auto !important; /* 居中显示 */
}
.amplify-button.amplify-field-group__control.amplify-button--primary.amplify-button--fullwidth {
    background-color: #0e0f0f!important;
    width: 25% !important; /* 或您希望的具体宽度，例如 200px */
    margin: 0 auto !important; /* 居中显示 */
    border-radius: 8px !important;
    margin-top: 20px !important;
}
.amplify-button.amplify-field-group__control.amplify-button--link.amplify-button--small{
    color: #0e0f0f !important;
} 
.black-bar {
    height: 80px;
    background-color: black;
    /* width: 100%;  */
    margin: 0 auto ;
    border-radius: 6px !important;
}
.amplify-heading.amplify-heading--3{
    margin: 0 auto !important;
}
.amplify-button.amplify-field-group__control.amplify-button--primary{
    background-color: #0e0f0f!important;
    width: 25% !important; /* 或您希望的具体宽度，例如 200px */
    margin: 0 auto !important; /* 居中显示 */
    border-radius: 8px !important;
    margin-top: 20px !important;
}